@{
    Layout = null;
}

<h2>Logout</h2>

<div>
    En serio desea salir?
    <form ng-submit="logout()">
        <input type="submit" value="LOG OUT">
        <button ng-click="ir_a_home()">REGRESAR A LA PAGINA PRINCIPAL</button>
    </form>
</div>
