@{
    Layout = null;
}
<p>PAGINA HOME</p>
<p>WELCOME TO THE STACKOVERFLOW'S CLONE! WE SINCERELY HOPE YOU LIKE IT</p>
<p>SI YA TIENES UNA CUENTA, <a href="#!/login">ENTRA</a> </p>
<p>SI AUN NO TIENES UNA CUENTA, <a href="#!/newuser">REGISTRATE</a> </p>