@{
    ViewBag.Title = "Usuario - Menu principal";
}
<p>@Html.ActionLink("Create New", "Create")</p>
<script src="~/Scripts/Angular/AngularFile.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-route.min.js"></script>
<div>
    <div id="tablaUsuarios" ng-controller="UsersController">
        <div>{{myWelcome}}</div>
        <table>
                        <tr>
                            <th>ID</th>
                            <th>NAME</th>
                            <th>EMAIL</th>
                        </tr>
                        <tbody ng-repeat="usuario in products">
                            <tr>
                                <td>{{usuario}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
