<p>FORMULA TU PREGUNTA AQUI</p>

<form ng-submit="register_question()">
    TITULO: <input type="text" ng-model="question_title" /><br />
    DETALLES: <textarea ng-model="question_details"></textarea><br />
    TAGS: <input type="text" ng-model="password" /><br />
    <input type="submit" value="REGISTRAR PREGUNTA" />
</form>
